div {
    height: 4em;
    background-color: rgb(235, 167, 141);
    text-align: center;
}

h1,
h3 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(61, 58, 58);
    margin: 3px 3px;
}

a {
    color: rgb(61, 58, 58);
    font-size: large;
}